page-login {
  .content{
    background-color: #f5f5f5;
  }
  .splash-bg {
    position: relative;
    background-color: #628cba;
    background-size: cover;
    height: 40%;
    z-index: 1;
  }

  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: -64px;
    text-align: center;
  }
  .splash-logo {
    margin: auto;
    background: url('../assets/img/appicon.png') repeat transparent;
    background-size: 100%;
    width: 128px;
    height: 128px;
  }
  .splash-intro {
    margin: 10px auto;
    font-size: 18px;
    font-weight: bold;
    max-width: 80%;
  }

  .fixedLabel {
    min-width: 20% !important;
    max-width: 20% !important;
  }

  button.login {
    margin-top: 25px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #333;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }

  .scroll-content{
    padding-bottom:0px !important;
  }

/*   .footerToolbar .toolbar-background {
      background: transparent;
  } */
}
