<ion-menu [content]="content" type="overlay" side="left" id="mainmenu">
<!--   <ion-header >
    <ion-toolbar color="color1">
      <ion-title>
        <ion-avatar item-left>
          <img [src]='dom.bypassSecurityTrustUrl(user._user.molPhoto)' style="width:80px;height:80px" alt="photo">
        </ion-avatar>
        <span style="font-size:14px;">{{user._user.molName}}</span>
      </ion-title>
      <ion-buttons end>
        <span style="font-size:12px;margin-right:10px;color:#fff;">Версия: {{version}}</span>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> -->

  <ion-content>
    <ion-list>
      <ion-item color="color1" style="height:120px;padding-left:5px;">
        <ion-grid>
          <ion-row>
              <ion-col col-5>
                  <img [src]='dom.bypassSecurityTrustUrl(user._user.molPhoto)' style="width:77px;height:77px" alt="photo">
              </ion-col>
              <ion-col col-7 style="text-align:right;">
                  <span style="font-size:12px;color:#fff;">Версия: {{version}}</span> 
              </ion-col>
          </ion-row> 
          <ion-row> 
            <ion-col col-12 style="text-align:left;">
              <span style="font-size:14px;">{{user._user.molName}}</span>
            </ion-col>
          </ion-row>   
        </ion-grid>
      </ion-item>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" style="position:relative;padding-left:0px;">
        <span style="padding-left:16px;">{{p.title}}</span>
        <span item-end *ngIf="p.title=='Сообщения'" style="color:red;float:right;" [ngClass]="{'registraionIdTrue': registrationId}">
          <ion-icon name="md-bulb" style="color:red" [ngClass]="{'registraionIdTrue': registrationId}"></ion-icon> Push
        </span>
      </button>
      <button menuClose ion-item (click)="logout()" style="padding-left:0px;">
          <span style="padding-left:16px;">Сменить пользователя</span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>