<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Сообщения</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Проведи вниз для обновления"
      refreshingSpinner="circles"
      refreshingText="Обновляется...">
    </ion-refresher-content>
  </ion-refresher>
    
<ion-list>
    <ion-item-sliding *ngFor="let item of items" (ionSwipe)="setdelete(item, slidingItem)" #slidingItem>
      <button ion-item (click)="openItem(item)">
       <!--  <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar> -->
        <h2 [ngClass]="{'cbold': !item.iS_READ}">{{item.title}}</h2>
        <p [ngClass]="{'cbold': !item.iS_READ}">{{item.body}}</p>
        <ion-note [ngClass]="{'cbold': !item.iS_READ}" item-end style="font-size:9px;">{{item.d_ADD | date: 'dd.MM.yyyy H:mm'}}</ion-note>
      </button>
      
      <ion-item-options side="left" *ngIf="!item.iS_READ">
        <button ion-button color="success" (click)="setread(item, slidingItem)">Прочтено</button>
      </ion-item-options>
      
      <!-- <ion-item-options side="left" *ngIf="item.iS_READ">
        <button ion-button (click)="setunread(item, slidingItem)">Не прочтено</button>
      </ion-item-options> -->

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="setdelete(item, slidingItem)">Удалить</button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>
