<ion-header>
  <ion-navbar>
    <button ion-button clear menuToggle>
      <img *ngIf="unread>0" src="assets/img/unread_messages.png" style="position: absolute; top:4px; left:8px; "/>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Сообщения</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Тяни вниз для обновления"
      refreshingSpinner="circles"
      refreshingText="Обновляется...">
    </ion-refresher-content>
  </ion-refresher>
    
<ion-list>
    <ion-item-sliding *ngFor="let item of items" (ionSwipe)="setDelete(item, slidingItem)" #slidingItem>
      <button ion-item (click)="openItem(item)">
        <h2 [ngClass]="{'cbold': item.d_READ == null}" [innerHTML]="item.title"></h2>
        <p [ngClass]="{'cbold': item.d_READ == null}" [innerHTML]="item.body"></p>
        <ion-note [ngClass]="{'cbold': item.d_READ == null}" item-end style="font-size:9px;">{{item.d_ADD | amDateFormat: 'DD.MM.YYYY HH:mm'}}</ion-note>
      </button>
      
      <ion-item-options side="left" *ngIf="item.d_READ != null">
        <button ion-button color="success" (click)="setUnread(item, slidingItem)">Не прочтено</button>
        </ion-item-options>

      <ion-item-options side="left" *ngIf="item.d_READ == null">
        <button ion-button color="success" (click)="setRead(item, slidingItem)">Прочтено</button>
      </ion-item-options>
      
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="setDelete(item, slidingItem)">Удалить</button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content 
      loadingSpinner="ios"
      loadingText="Загрузка данных...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
